.imagelist{
    margin: 0 auto;
    max-width: 1024px;
}
.imagelist h2{   
     font-size: 1.7rem;
    font-weight: 700;
}
.imagelist button{
    background-color: rgba(0,119,255,.1);
    border: 2px solid #07f;
    border-radius: 5px;
    color: #07f;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    padding: 10px 15px;   
}
.imagelist button:hover{
    background-color: rgba(0,119,255,.3);
    transform: scale(0.95);
}
.imagelisttop{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
}
.imagelisttop span{
    align-items: center;
    aspect-ratio: 1;
    background-color: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgba(10, 10, 10, 0.8);
    /* box-shadow: 0 4px 9px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    width: 50px;
}
.imagelisttop span img{
    width: 30px;
}
.imageContainer{
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    grid-template: repeat(1,150px) /repeat(auto-fit,minmax(175px,.5fr));
    margin-bottom: 50px;
}
.imageContainerImg{
    height: 80%;
    object-fit: cover;
    width: 100%;
}
.imageContainerImg:hover{
   transform: scale(1.2);
   /* background-attachment: fixed; */
}

.imageContainerframe:hover .imageContainerframei{
    z-index: 10;
    display:block;
}
.imageContainerframe:hover .imageContainerframeDelete{
    z-index: 10;
    display:block;
}
.imageContainer span{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.imageContainerframe{background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
}


.imageContainerframei{
    border: none;
    display: none;
    outline: none;
    position: absolute;
    right: 27px;
    top: -27px;
    transition: .3s;
}
.imageContainerframei img{
    width: 35px;
}
.imageContainerframeDelete{
    display: none;
    border: none;
    outline: none;
    position: absolute;
    right: -15px;
    top: -27px;
    transition: .3s;
}
.imageContainerframeDelete img{
    width: 35px;   
}