.imageform {
  background-color: #3c6f46b5;
  /* background-color: #bfe3e2; */
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto 30px;
  padding: 20px;
  border: 1px solid rgb(109, 172, 176);
  width: 50vw;
}
.imageform span {
  font-size: 1.7rem;
  font-weight: 700;
}
.imageform img {
  width: 32px;
}
.imageform form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.imageform form input {
  border: 3px solid transparent;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
  padding: 10px 10px 10px 15px;
  transition: 0.3s;
  width: 60%;
}
.imageform form label img {
  width: 55px;
  margin-right: 13px;
}
.imageform form label span {
  font-size: 1.5rem;
  color: rgb(39, 45, 40);
}
.imageform form input:focus {
  border-color: rgb(109, 172, 176);
  /* border: 1.5px solid rgb(14, 79, 129); */
}

.imageform form button:first-of-type {
  background-color: #a3190db8;
}
.imageformbuttonWrapper {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.imageformbuttonWrapper button {
  background-color: #154f92;
  border: none;
  border-radius: 7px;
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  padding-block: 7px;
  width: 120px;
}
.update {
  background-color: green;
}
.add {
  background-color: #07f;
}
.imageformbuttonWrapper button:hover {
  background-color: #154f92c7;
  transform: scale(0.93);
}
.imageformbuttonWrapper button:first-of-type:hover {
  background-color: #a3190d;
}

@media only screen and (max-width: 650px) {
  .imageform {
    margin-top: 60px;
    gap: 0px;
  }
  .imageform span {
    font-size: 1.2rem;
  }
  .imageform img {
    width: 20px;
  }
  .imageform form {
    margin-top: 20px;
  }
  .imageform form input {
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 8px 7px 7px 3px;
    width: 91%;
  }

  .imageformbuttonWrapper button {
    border-radius: 4px;
    font-size: 0.7rem;
    padding-block: 7px;
    width: 50px;
  }
  .imageform form label img {
    width: 28px;
    margin-right: 5px;
  }
  .imageform form label span {
    font-size: 0.8rem;
  }
}
